#enable Rewrite Engine
RewriteEngine On

#set the default character set to UTF-8
AddDefaultCharset utf-8

#prevent directory browsing
Options -Indexes

#remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Custom Error Pages
ErrorDocument 404 /formula-student/404
ErrorDocument 500 /500